extends ../layout.jade

block corps
	block form
			include new.jade
	block tasks
		section(class="task")
			Les tâches à faire:

			if tasks.length > 0
				ul
					each task in tasks
						li
							//- Pour le lien avec une boucle for, il faut faire un tasks.indexOf(tasks[i]) afin d'avoir le 
							//- véritable index qui n'est pas le témoin i
							a(href="/task/#{task.id}/delete/") X
							a(href="/task/#{task.id}/edit/") ✎

							//- console.log("task" + task)
							span.
								Priorité:  #{task.priorite.option} - Description: #{task.description}

							a(href="/task/#{task.id}/moins/") - 
							form(action="/task/#{task.id}/plus/", method="post")
								input(type="submit" class="btn btn-primary" value="+")

							//- On récupère le module qui est passé en paramêtre
							span Date fin : #{moment(task.date_fin).format('DD MM YYYY')} soit #{moment(task.date_fin).from()}
							//- console.log(#{tasks})
			else
				p.
					Pas de tâche ! 
